.papaMaster {
    display: flex;
    height: 100%; 
}

.sidenavyapapa {
  
    height: 100%;
 
    position: fixed; 
    left: 0;
    top: 0;
    overflow: hidden;
}

.content {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100% !important;
}
.topnav {
    height: auto; 
  margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 0 ;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

.outlet {
    flex-grow: 1; 
    padding: 20px;
  height: 100vh !important;
    overflow-y: auto; 
}
.content {
    margin-left: 250px;
    transition: margin-left 0.3s ease; 
  }
  
  .content-collapsed {
    margin-left: 80px; 
  }
  @media(max-width: 1024px) {
    .outlet {
        flex-grow: 1; 
       width: 100% !important;
        
        overflow-y: auto; 
    }
    .content-collapsed {
        margin-left: 40px; 
        width: 100% !important;
      }
    
    }